﻿@model ItemModel

@using IO.Swagger.Model;

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">

    <h2> @Model.Name </h2>

    <div class="container-fluid">
        @if (ViewBag.HasPhotos)
        {
            <div class="row">
                <div class="col-md-@ViewBag.ColumnWidth label-tile"></div>
                @foreach (var column in ViewBag.Metals)
                {
                    <div class="col-md-@ViewBag.ColumnWidth label-tile">
                        <h4>@column</h4>
                    </div>
                }
            </div>
            @foreach (var row in ViewBag.Shapes)
            {
                <div class="row">
                    <div class="col-md-@ViewBag.ColumnWidth label-tile"><h4>@row</h4></div>
                    @foreach (var column in ViewBag.Metals)
                    {
                        <div class="col-md-@ViewBag.ColumnWidth label-tile">
                            @{
                                var key = column + ";" + row;
                                if (Model.Photos.ContainsKey(key))
                                {
                                    <div>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" onclick="updateValues('@Model.IdITem','@column','@row')">
                                            Add Image
                                        </button>
                                        @foreach (ItemPhotoDto item in Model.Photos[key])
                                        {
                                            <div class="img-responsive img-rounded">
                                                <img src="~/images/ring/@item.ImageName" width="300" alt="@item.ImageAlt" />
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <h4>Not Photos for this item</h4>
            <input type="button" class="btn btn-primary" onclick="alert('WIP')" value="Add Photo" />
        }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("UploadFile", "Items", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <input type="hidden" name="material" id="material" />
                    <input type="hidden" name="shape" id="shape" />
                    <input type="hidden" name="itemId" id="itemId" />
                    <input type="file" name="file" id="file" style="width: 100%;" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function updateValues(idItem, material, shape) {
        $("#material").val(material);
        $("#shape").val(shape);
        $("#itemId").val(idItem);
        $('#exampleModal').modal('show');
    }
</script>



<div id="UploadModal" title="Upload Image" class="ui-dialog"></div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>