﻿@model IEnumerable<ItemModel>

@{
    ViewData["Title"] = "Product's Photos Management";
}

<script src="~/js/ItemsHandler.js"></script>

<div id="container-body" class="container">
    <h2>Photos Management</h2>

    @if (ViewBag.WithMessage)
    {
        <div class="alert-info">
            <p>@ViewBag.Message</p>
        </div>
    }

    @foreach (ItemModel item in Model)
    {
        <div class="container">
            <a href="@Url.Action("EditItem", "Items", new { itemId = item.IdITem})" class="btn btn-primary">@item.Name</a>
            @foreach(var entry in item.Photos)
            {
                <p>Item with @entry.Key has @entry.Value.Count photos</p>
            }
        </div>
    }


</div>

<script>
    var itemsUrl = "@Url.Action("GetItems", "Items")";
    var editItemUrl = "@Url.Action("EditItem", "Items")";
</script>